<div>

  <div>
    Updated at <span>{{clock.timer | async | date:'hh:mm:ss'}}</span>
  </div>


  <form [formGroup]="newPoolForm">
    Add new pool to monitor
    <md-select formControlName="name">
      <md-option value="Ethermine">Ethermine</md-option>
    </md-select>
    <md-input-container>
      <input mdInput formControlName="url" placeholder="Url">
    </md-input-container>
    <button md-button (click)="poolMonitoring.createMonitor(newPoolForm.value)">Add</button>
  </form>


  <div *ngFor="let pool of poolMonitoring.poolData | async">
    {{pool.name}} {{pool.reportedHashRate}} {{pool.unpaid/1000000000000000000}}

  </div>

</div>
